* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(300deg, #e4e4e4 0%, #f5f5f5 100%);
  border-bottom: solid 2px #1a1b1fe3;
}
nav img {
  margin-left: 80px;
  user-select: none;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}
nav h3 {
  font: 32px 'Pacifico', cursive;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
nav h3 #s1 {
  color: #0061ae;
}
nav h3 #s2 {
  color: #ec1d24;
}
nav h3 #s3 {
  color: #1a1b1f;
}
nav h3 #s4 {
  color: #ffc107;
}

nav div {
  margin-right: 30px;
  user-select: none;
}
.btnAzione {
  font: 22px 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 25px; margin-right: 25px;
  padding: 10px 15px;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.btnAzione:first-child {
  font-size: 16px;
}
#aInfo { color: #0061ae; transition: all 0.3s ease; position: relative;}
#aInfo::before {content: ""; position: absolute; bottom: 0; left: 50%; height: 3px; width: 0%; background-color: #0061ae; transition: all 0.3s ease;}
#aLogin { color: #ec1d24; border: solid 2px #ec1d24; transition: all 0.3s ease; }
#aInfo:hover::before {width: 100%; left: 0;}
#aLogin:hover { color: #e4e4e4; background: #ec1d24; box-shadow: 0px 0px 6px #ec1d24a6;}

.logEff {color: #e4e4e4 !important; background: #ec1d24; box-shadow: 0px 0px 6px #ec1d24a6;}

section {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section img {
  user-select: none;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}
section .contenuto {
  width: 60%;
}
#nome {
  font: 20px 'Montserrat', sans-serif;
  color: #ec1d24;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
#carica {
  font: 16px 'Montserrat', sans-serif;
  color: #0061ae;
  opacity: 0.6;
  margin-top: 10px;
  margin-bottom: 10px;
}
#info {
  font: 34px 'Montserrat', sans-serif;
}

footer {
  margin-top: 170px;
  height: 120px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 2px #1a1b1f;
  background-image: linear-gradient(300deg, #e4e4e4 0%, #f5f5f5 100%);
}
footer h3 {
  font: italic 20px arial, sans-serif;
  color: #0061ae;
  text-align: center;
}
footer div {
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer div a {
  font: 16px 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 25px; margin-right: 25px;
  color: #ec1d24;
  transition: all 0.3s ease;
}
footer div a:hover {
  opacity: 0.6;
}
.sond {
  display: flex; justify-content: space-around; align-items: center;
  flex-direction: column; margin-bottom: 60px; margin-top: 100px;
  width: 60%;
}
.cardSondaggio {
  position: relative;
  width: calc(100% - 100px);
  height: 600px;
  padding: 20px 35px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.cardSondaggio .fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cardSondaggio .fade.fade1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 50px;
  padding-bottom: 60px;
}
.cardSondaggio .fade.fade1 h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
  padding: 0;
  color: #ff1c23;
  text-align: center;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.cardSondaggio .fade.fade1 p {
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}
.contOpzioni {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(150px, 1fr) [col-end]);
  grid-gap: 20px;
  user-select: none;
  margin: 0;
  padding: 0;
}
.cardSondaggio .unSel {
  width: 100%;
  text-decoration: none;
  text-align: center;
  justify-self: center; align-self: center;
  padding: 5px 20px;
  color: #0061ae;
  border: 1px solid #0061ae;
  border-radius: 20px;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.3s ease;
}
.selOpz {
  animation: backScale forwards 1s ease;
  background-image: radial-gradient(#2575fc 0%, #6a11cb 120%);
  box-shadow: 0px 0px 5px #6b11cba2;
  width: 100%;
  color: #fff;
  text-decoration: none;
  justify-self: center; align-self: center;
  padding: 5px 20px;
  border: 1px solid #6a11cb;
  border-radius: 20px;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s;
  text-align: center;
}
@keyframes backScale {
  0% {
    background-position: 50%;
    background-size: 50%;
  }
  100% {
    background-position: 0%;
    background-size: 120%;
  }
}
.cardSondaggio .fade.fade2 {
  background: #111;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardSondaggio .fade.fade2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.cardSondaggio .fade.fade2 {
  background-image: linear-gradient(60deg, #f83600 0%, #ffd503 100%);
}
.cardSondaggio:hover .fade.fade2.open {
  height: 60px;
}
.cardSondaggio .fade.fade2 h2{
  margin: 0;
  padding: 0;
  font-size: 35px; font-family: "Lato", sans-serif;
  color: #fff;
  transition: 0.5s;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  user-select: none;
}
.cardSondaggio:hover .fade.fade2.open h2 {
  font-size: 0.7em;
}
.invia {
  color: #ec1d24;
  text-decoration: none;
  height: 40px;
  min-width: 80px;
  padding: 5px 20px;
  border: 1px solid #ec1d24;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s;
  margin-top: 35px;
}
.invia:hover {
  background: #ec1d24;
  box-shadow: 0px 0px 6px #ec1d24a6;
  color: #fff;
}







@media only screen and (max-width: 1024px) {
  section {
    flex-direction: column;
  }
  section img {
    margin-bottom: 100px;
  }
  section div {
    width: 75%;
  }
  nav img {
    display: none;
  }
  nav { 
    flex-direction: column;
    height: 180px;
    justify-content: space-around;
  }
  .contOpzioni {
    width: 100%;
  }
}





@media only screen and (max-width: 425px) {
  nav {
    height: 150px;
  }
  nav h3 {
    font-size: 22px;
  }
  .btnAzione {
    font-size: 16px;
    margin-left: 10px; margin-right: 10px;
  }
  .btnAzione:first-child {
    font-size: 10px;
  }
  section {
    margin-top: 80px;
  }
  section img {
    width: 250px;
  }
  section div {
  width: 80%;
  }
  #nome {
    font-size: 16px;
  }
  #carica {
    font-size: 12px;
  }
  #info {
    font-size: 20px;
  }
  footer {
    margin-top: 100px;
    flex-direction: column;
    height: 150px;
  }
  footer h3 {
    font-size: 16px;
  }
  footer div a {
    font-size: 14px;
  }
  .contOpzioni {
    width: 100%;
    grid-template-columns: repeat(auto-fit, [col-start] 1fr [col-end]);
  }
  section .contenuto {
    width: 90%;
  }
  .cardSondaggio {
    width: 100%;
    height: 100vh;
  }
  .cardSondaggio .fade.fade1 h2 {
    font-size: 20px;
  }
  .cardSondaggio .fade.fade1 p {
    font-size: 16px;
  }
  .cardSondaggio .fade.fade1{
    padding: 0px;
    padding-bottom: 60px;
  }
  .cardSondaggio .fade.fade2 h2 {
    font-size: 22px;
  }
}